{% block content %}
  <button onclick="window.location.href='{{ request.scheme }}://{{ request.get_host }}:8080/games/profile'">Профиль</button>
  <button onclick="window.location.href='{{ request.scheme }}://{{ request.get_host }}:8080/games/categories'">Категории</button>
  <button onclick="window.location.href='{{ request.scheme }}://{{ request.get_host }}:8080/games/list'">Список игр</button>
  <button onclick="window.location.href='{{ request.scheme }}://{{ request.get_host }}:8080/games/usergames'">Игры пользователя</button>
{% endblock %}
